@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
header{
  width: 100vw;
  height: 100vh;
  background-image: url('./images/donation13.jpg');
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content{
  font-style: normal;
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}
.header-content h4{
  font-size: 2vmin;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
} 
.line{
  width: 650px;
  height: 6px;
  background: #ffef0b;
  margin: 10px auto;
  border-radius: 5px;
}
.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}
 .ctn {
  padding: 8px 15px;
  background: #ffef0b;
  border-radius: 20px;
  color: rgb(67, 14, 200);
} 
/* Donate Amount */
.donate-today{
  /* background-position: 50%; */
  /* background: #eff304; */
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  
  
 }

 .amount-title{
  text-align: center;
  font-weight: 700;
  font-size: 75px;
  margin-bottom: 50px;
 }

 .amount-description{
  color: #0f025d;
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}

 .amount-container{
  display: flex;
  justify-content: space-around;
 } 

 .amount{
  background: #daff05;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
  font-size: 50px;
  margin-bottom: 50px;
 }

 .amount:hover{
  color: #0f025d;
 }

 .other{
  text-align: center;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 50px;
  color: rgb(132, 134, 134);
 }
 .line-next{
  width: 650px;
  height: 6px;
  background: #430ec8;
  margin: 10px auto;
  border-radius: 5px;
  margin-bottom: 50px;
}
 .ctn-next {
  padding: 8px 15px;
  background: #430ec8;
  border-radius: 40px;
  color: #eff304;
  font-size: 60px;
 }

 .plan-description{
  color: #0f025d;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  
 }

 .plan-container{
  display: flex;
  gap: 75px;
 }

 .plan-1{
  background: #b3d1f2;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 50px;
  margin-left: 50px ;
 }
 .plan-2{
  background: #cc97f0;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 50px;
 }
 .plan-3{
  background: #bdec9c;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 50px;
  margin-right: 50px;
 }
 .plan-title {
  font-weight: 700;
  font-size: 40px;
  color: #181818;
  margin-top: 30px;
  margin-bottom: 20px;
 }

 



/* features */

.features{
  padding: 50px 12%;
  font-size: 22px;
}
.row{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}
.text-col{
  flex-basis: 50%;
  margin-bottom: 20px;
}
.donation-title{
  
   font-weight: 700;
   font-size: 55px;
   color: #181818;
   margin-bottom: 20px;
}

.donation-description{
   font-weight: 400; 
   margin-bottom: 50px;
   font-size: 25px;
   color: #0f025d;
}

 .img-col{
  flex-basis: 50%;
  margin-bottom: 20px;
 }
 .img-col img{
  display: block;
  width: 100%;
  margin: auto;
 }
.features .ctn{
  padding: 8px 15px;
  margin-top: 0px;
  background: #430ec8;
  border-radius: 40px;
  color: #eff304;
  font-size: 30px;
}

.survive-title{
  font-weight: 700;
  font-size: 55px;
  color:#181818;
  margin-bottom: 20px;
  margin-left: 20px;
}

.survive-description{
  margin-left: 30px;
  font-weight: 400; 
  margin-bottom:50px;
  font-size:25px;
  color:#0f025d;
}
.ctn-survive{
  margin-left: 30px;
  padding: 8px 15px;
  margin-top: 0px;
  background: #430ec8;
  border-radius: 40px;
  color: #eff304;
  font-size: 30px;
}
.update-title{
  text-align:center;
  font-weight: 700;
  font-size: 65px;
  margin-bottom: 50px;
 }

 .update-description{
  color: #0f025d;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.email-signup{
  background: #b3d1f2;
  border-radius: 10px;
  display: flex;
  height: 200px;
  width: 809px;
  justify-content:center;
  align-items: center; 
  margin-top: 30px;
  overflow: hidden;
  margin-left: 250px;
  margin-right: 250px;
  /* margin-bottom: 30px; */

}
.email-signup input{
  font-size: 18px;
  color: #cc97f0;
  padding: 15px 10px;
  margin-left: 20px;
}
.email-signup button{
  background: #cc97f0;
  padding: 15px 10px;
  color: #430ec8;
  font-size: 18px;
  cursor: pointer;
  margin-right: 20px;
  
}
footer{
  margin-top: 150px;
  background: #eff304;
  width: 100%;
  font-family: italic;
  padding: 100px 15%;
}
.footer-content{text-align: center;

}
.footer-title{
  font-style: italic;
  font-size: 50px;
  margin-bottom: 15px;
}
.footer-description{
  font-family: 'Times New Roman', Times, serif;
}